#container {
  width: 98%;
  height: 100%;
}

::ng-deep .mat-tab-label {
  background-color: transparent;
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
  ::ng-deep .mat-tab-label {
    font-size: .9rem;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    font-size: .9rem;
  }
  ::ng-deep .mat-tab-labels {
    flex-wrap: wrap;
  }
}
