<div class="container">
  <div class="container" id="topStats">
    <div>
      <p>Weight</p>
      <p>Highest: <span>{{this.weightStat.high}}g</span></p>
      <p>Lowest: <span>{{this.weightStat.low}}g</span></p>
    </div>
    <div>
      <p>Weight Difference</p>
      <p>Highest: <span>{{this.diffStat.high}}g</span></p>
      <p>Lowest: <span>{{this.diffStat.low}}g</span></p>
    </div>
    <div>
      <p>Temp In</p>
      <p>Highest: <span>{{this.tempInStat.high}}°C</span></p>
      <p>Lowest: <span>{{this.tempInStat.low}}°C</span></p>
    </div>
    <div>
      <p>Temp Out</p>
      <p>Highest: <span>{{this.tempOutStat.high}}°C</span></p>
      <p>Lowest: <span>{{this.tempOutStat.low}}°C</span></p>
    </div>
    <div>
      <p>Hum In</p>
      <p>Highest: <span>{{this.humInStat.high}}%</span></p>
      <p>Lowest: <span>{{this.humInStat.low}}%</span></p>
    </div>
    <div>
      <p>Hum Out</p>
      <p>Highest: <span>{{this.humOutStat.high}}%</span></p>
      <p>Lowest: <span>{{this.humOutStat.low}}%</span></p>
    </div>
  </div>
</div>
