.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#topStats {
  justify-content: center;
  padding-bottom: 10px;
}
#topStats > div {
  border: 1px solid var(--secondaryRipple);
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}
#topStats > div > p {
  color: var(--tertiary);
  font-family: var(--secondaryFont);
  padding: 0 10px 0;
}
#topStats > div > p:first-child {
  font-size: 1.2rem;
}
#topStats > div > p > span {
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.1rem;
}

::ng-deep .tooltip {
  font-size: 1rem;
  font-family: var(--secondaryFont);
  background-color: var(--primaryRipple);
  white-space: pre-line;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
}
#charts > div {
  width: 45%;
  height: 45vh;

  border-radius: 15px;
  border: 1px solid var(--secondaryRipple);

  padding: 0 10px 0 10px;
  margin: 0 20px 20px 0;
}

@media only screen and (max-width: 700px) {
  #topStats > div {
    width: 35%;
  }
  #charts > div {
    width: 90%;
    height: 50vh;
    margin: 0 0 20px 0;
  }
}
