<div class="container">
  <div class="container" id="topStats">
    <div>
      <p>Weight</p>
      <p matTooltip="{{getTooltipMessage(weightStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{weightStat.high.stat}}g</span>
      </p>
      <p matTooltip="{{getTooltipMessage(weightStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{weightStat.low.stat}}g</span>
      </p>
    </div>
    <div>
      <p>Weight Difference</p>
      <p matTooltip="{{getTooltipMessage(diffStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{diffStat.high.stat}}g</span>
      </p>
      <p matTooltip="{{getTooltipMessage(diffStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{diffStat.low.stat}}g</span>
      </p>
    </div>
    <div>
      <p>Temp In</p>
      <p matTooltip="{{getTooltipMessage(tempInStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{tempInStat.high.stat}}°C</span>
      </p>
      <p matTooltip="{{getTooltipMessage(tempInStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{tempInStat.low.stat}}°C</span>
      </p>
    </div>
    <div>
      <p>Temp Out</p>
      <p matTooltip="{{getTooltipMessage(tempOutStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{tempOutStat.high.stat}}°C</span>
      </p>
      <p matTooltip="{{getTooltipMessage(tempOutStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{tempOutStat.low.stat}}°C</span>
      </p>
    </div>
    <div>
      <p>Hum In</p>
      <p matTooltip="{{getTooltipMessage(humInStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{humInStat.high.stat}}%</span>
      </p>
      <p matTooltip="{{getTooltipMessage(humInStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{humInStat.low.stat}}%</span>
      </p>
    </div>
    <div>
      <p>Hum Out</p>
      <p matTooltip="{{getTooltipMessage(humOutStat.high)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Highest: <span>{{humOutStat.high.stat}}%</span>
      </p>
      <p matTooltip="{{getTooltipMessage(humOutStat.low)}}"
         [matTooltipShowDelay]="animationDelay"
         matTooltipClass="tooltip">
        Lowest: <span>{{humOutStat.low.stat}}%</span>
      </p>
    </div>
  </div>
</div>
