.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
}

#history {
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;

  justify-content: center;
}
#history > p {
  color: var(--tertiary);
  align-self: center;
}
#history > app-history-div {
  margin: 5px;
}

#showMoreButton {
  margin-left: 38%;

  width: 25%;
  height: 30px;

  color: var(--secondary);
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  background-color: var(--primary);
  border: 0;
  border-radius: 15px;

  padding: 0;

  transition: background-color 300ms;
}
#showMoreButton:hover,
#showMoreButton:focus {
  background-color: var(--secondaryHover);
}
