::ng-deep :root {
  /*--primary: #FFB726;*/
  /*--secondary: #F8F5F0;*/
  /*--primary: #3A3637;*/
  /*--secondary: #FCB43A;*/
  --primary: #362F27;
  --primaryHover: rgba(54, 47, 39, 0.25);
  --secondary: #FFAC1D;
  --secondaryHover: rgba(255, 172, 29, 0.1);
  --secondaryRipple: rgba(255, 172, 29, 0.25);
  --tertiary: #F8F5F0;

  --primaryFont: 'Viga', sans-serif;
  --secondaryFont: 'Josefin Sans', sans-serif;

  user-select: none;
}

header svg {
  position: fixed;
  top: 20px;
}
header p {
  position: fixed;
  top: 15px;

  color: var(--primary);
  font-size: 4.5rem;
  font-family: var(--primaryFont);

  user-select: none;
}

#shape {
  position: relative;

  width: 0;
  height: 100%;

  border-top: 6vh solid transparent;
  border-right: calc(100vw - 17px) solid var(--primary);
  border-bottom: 100vh solid var(--primary);
  border-left: 0 solid var(--primary);

  margin-top: 160px;

  display: flex;
  flex-direction: column;
}

#smallLogo {
  display: flex;
  align-items: center;

  width: fit-content;
  height: 35px;
  margin-right: 20px;

  text-decoration: none;
  text-align: center;
  border: 0;

  outline: none;
  user-select: none;

  transition: margin-left 700ms ease-out;
}
#smallLogo p {
  color: var(--secondary);
  font-size: 1.7rem;
  font-family: var(--primaryFont);
}
#smallLogo svg {
  margin-right: 5px
}

#menuBar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  width: calc(98vw - 15px);
  top: 0;
  z-index: 2;

  background-color: var(--primary);
}

#menuButtons {
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  width: inherit;
  z-index: 2;

  background-color: var(--primary);
}

#menuButtons button {
  color: var(--secondary);
  background: transparent;
  border: 0;
  font-size: 1rem;
  font-family: var(--secondaryFont);
  cursor: pointer;
  caret-color: transparent;

  height: 35px;
  min-width: 80px;
  line-height: 35px;

  margin-top: 5px;
  position: relative;

  transition: all 500ms;
}
#menuButtons > button::after {
  content: "";

  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;

  height: 2px;
  width: 0;

  background: var(--secondary);
  transition: width 300ms ease, left 300ms ease;
}
#menuButtons > button:hover::after,
#menuButtons > button:focus::after {
  width: 100%;
  left: 0;
}
.menuButtonGroup {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 80px;
  height: 35px;
  display: flex;
}

#menuButtons .menuButtonGroup button:first-child {
  margin-right: 10px;
}
#menuButtons .menuButtonGroup button {
  color: var(--secondary);
  background-color: var(--primary);
  /*border: 1px solid var(--secondary);*/
  border-radius: 25px;
}
/*#menuButtons .menuButtonGroup button:hover,*/
/*#menuButtons .menuButtonGroup button:focus {*/
/*  color: var(--primary);*/
/*  background: var(--secondary);*/
/*}*/

#signedInGroup button {
  min-width: 35px;
  background-color: var(--primary) !important;
  display: flex;
  align-items: center;
}
/*#signedInGroup button:hover,*/
/*#signedInGroup button:focus {*/
/*  background-color: var(--secondary) !important;*/
/*}*/
#signedInGroup button .mat-icon {
  color: var(--secondary);
  font-size: 1rem;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 1px;

  transition: color 500ms;
}
/*#signedInGroup button:hover .mat-icon,*/
/*#signedInGroup button:focus .mat-icon {*/
/*  color: var(--primary);*/
/*}*/
