::ng-deep :root {
  --primary: #362F27;
  --primaryHover: rgba(54, 47, 39, 0.25);
  --primaryRipple: #3e372e;
  --secondary: #FFAC1D;
  --secondaryHover: rgba(255, 172, 29, 0.1);
  --secondaryRipple: rgba(255, 172, 29, 0.25);
  --secondaryHighlight: rgba(255, 172, 29, 0.45);
  --secondaryDisabled: #5f574d;
  --tertiary: #F8F5F0;
  --tertiaryHighlight: rgba(248, 245, 240, 0.25);
  --positive: #3d8900;
  --negative: #c53200;
  --negativeHover: rgba(255, 51, 0, 0.25);
  --negativeRipple: rgba(255, 51, 0, 0.45);

  --primaryFont: 'Viga', sans-serif;
  --secondaryFont: 'Josefin Sans', sans-serif;

  user-select: none;
}

header svg {
  position: fixed;
  top: 20px;
}
header p {
  position: fixed;
  top: 15px;

  color: var(--primary);
  font-size: 4.5rem;
  font-family: var(--primaryFont);

  user-select: none;
}

#shape {
  position: relative;
  margin-top: 180px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  clip-path: polygon(0 100%, 0 40px, 100% 0, 100% 100%);

  width: calc(100vw - 17px);
  min-height: 100vh;
  background-color: var(--primary);
}
#mainContent {
  padding-top: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

#smallLogo {
  display: flex;
  align-items: center;

  width: fit-content;
  height: 35px;
  margin-right: 20px;

  text-decoration: none;
  text-align: center;
  border: 0;

  outline: none;
  user-select: none;

  transition: margin-left 700ms ease-out;
}
#smallLogo p {
  color: var(--secondary);
  font-size: 1.7rem;
  font-family: var(--primaryFont);
}
#smallLogo svg {
  margin-right: 5px
}

#menuBar {
  justify-self: flex-start;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  width: calc(100vw - 30px);
  z-index: 2;

  background-color: var(--primary);
}

#menuButtons {
  position: relative;
  width: inherit;
  z-index: 2;

  background-color: var(--primary);
}

#menuButtons button {
  position: relative;
  margin-top: 5px;

  height: 35px;
  min-width: 80px;
  line-height: 35px;

  color: var(--secondary);
  font-size: 1rem;
  font-family: var(--secondaryFont);
  background: transparent;
  border: 0;

  cursor: pointer;
  caret-color: transparent;

  transition: all 500ms;
}
#menuButtons > button::after {
  content: "";

  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;

  height: 2px;
  width: 0;

  background: var(--secondary);

  transition: width 300ms ease, left 300ms ease;
}
#menuButtons > button:hover::after,
#menuButtons > button:focus::after {
  width: 100%;
  left: 0;
}
.menuButtonGroup {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;

  min-width: 80px;
  height: 35px;
}

#menuButtons .menuButtonGroup button:first-child {
  margin-right: 10px;
  border: 1px solid var(--secondaryHighlight);
}
#menuButtons .menuButtonGroup button {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 25px;
}
#menuButtons .menuButtonGroup button:hover,
#menuButtons .menuButtonGroup button:focus {
  background: var(--secondaryHover);
}

#signedInGroup button {
  display: flex;
  align-items: center;

  min-width: 35px;
  background-color: var(--primary);
}
#signedInGroup button:hover,
#signedInGroup button:focus {
  background-color: var(--secondaryHover);
}
#signedInGroup button .mat-icon {
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 1px;

  color: var(--secondary);
  font-size: 1rem;

  transition: color 500ms;
}

#errorBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: calc(100vw - 17px);
  height: 60px;
  z-index: 100;

  background-color: var(--negative);
  border-radius: 0 0 15px 15px;

  transition: top ease 300ms;
}
#errorBar p {
  margin-left: 20px;

  color: var(--tertiary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
}
#errorBar button {
  margin-right: 20px;
  padding: 0;

  width: 35px;
  height: 35px;

  background-color: var(--negative);
  border-radius: 10px;
  border: 1px solid var(--negativeRipple);

  cursor: pointer;

  transition: background-color 300ms;
}
#errorBar button:hover {
  background-color: var(--negativeHover);
}

#errorBar button mat-icon {
  color: var(--tertiary);
}
