#container {
  margin: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary);
}
#profileIcon {
  width: 13vh;
  height: 13vh;
  min-height: 120px;
  min-width: 120px;

  border: 2px solid var(--secondary);
  border-radius: 50%;
  background-color: var(--primary);
}
#options {
  width: 20vh;
  height: 20vh;
  min-height: 150px;
  min-width: 200px;
}
#options ul {
  margin-bottom: 2vh;
  margin-top: 40px;
  padding: 10px;

  border: 1px solid var(--secondary);
  border-radius: 10px;

  list-style: none;
  text-align: center;
}
#options ul li, img {
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.3rem;
}
#options ul li:first-child {
  font-size: 1.2rem;
}
#options ul li:hover:first-child {
  text-decoration: none;
  text-decoration-color: var(--primary);
  cursor: default;
}
#options ul li:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  cursor: pointer;
}
#changePassButton {
  padding: 10px 20px 10px 20px;
  /*transform: translateX(-15%);*/

  /*width: 15vw;*/
  /*height: 5vh;*/
  /*min-height: 75px;*/
  /*min-width: 100px;*/

  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 10px;

  cursor: pointer;

  transition: color 500ms, background-color 500ms;
}
#logoutButton {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  min-width: 40px;
  height: 40px;

  color: var(--secondary);
  background-color: var(--primary);
  border: 0;
  border-radius: 25px;

  cursor: pointer;

  transition: background-color 300ms;
}
#logoutButton:hover,
#logoutButton:focus,
#changePassButton:hover,
#changePassButton:focus{
  background-color: var(--secondaryHover);
}
#changePassButton:disabled {
  background-color: var(--primary);
  border: 1px solid var(--secondaryDisabled);
  color: var(--secondaryDisabled);
  cursor: default;
}
