#forgotPassForm {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%);

  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 20px;

  width: 30vw;
  height: 30vh;
  min-height: 310px;
  min-width: 400px;
}

#forms {
  position: absolute;

  left: 50%;
  transform: translate(-50%);
}

.field {
  width: 20vw;
  min-width: 300px;
}
.field input {
  margin-bottom: 10px;
}
.field button {
  margin-top: 13px;
}
.field mat-icon {
  vertical-align: middle;
  color: var(--tertiary);
}

#forgotPassTitle {
  color: var(--secondary);
  font-size: 2.2em;
  font-weight: bold;
  font-family: "BankGothic Md BT", fantasy;
  user-select: none;
}

#forgotPassDesc {
  color: var(--tertiary);
}

#resetPass {
  color: var(--secondary);
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #00ff1a !important;
}

/*//input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary);
}

/*//mat-input focused color*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--secondary) !important;
}

/*// mat-input error outline color*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red !important;
  opacity: 0.8!important;
}

/*!/ mat-input carent color*!*/
::ng-deep .mat-input-element {
  caret-color: var(--secondary) !important;
  color: var(--tertiary) !important;
}

/*!/ mat-input error carent color*!*/
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red !important;
}

/*!/ mat-label normal state style*!*/
::ng-deep .mat-form-field-label {
  color: var(--tertiary) !important;
  opacity: 1;
  transition-property: all;
  transition-duration: 300ms;
}

/*!/ mat-label focused style*!*/
/*   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {*/
/*     color: var(--tertiary) !important;*/
/*     opacity: 1;*/
/*     transition-property: all;*/
/*     transition-duration: 300ms;*/
/*   }*/

/*!/ mat-label error style*!*/
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}

#forgotPassButton {
  color: var(--secondary);
  background: transparent;
  border: 1px solid var(--secondary);
  border-radius: 25px;
  font-size: 22px;
  font-family: "BankGothic Md BT", fantasy;

  min-width: 160px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  transform: translate(-50%);

  transition-property: all;
  transition-duration: 500ms;
}
#forgotPassButton:hover {
  color: var(--primary);
  border-color: transparent;
  background: var(--secondary);
  border-radius: 25px;

  transition-property: all;
  transition-duration: 300ms;
}
