p {
  color: var(--tertiary);
}

span {
  color: var(--secondary);
}

#forgotPassForm {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%);

  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 10px;

  width: 25vw;
  height: 50vh;
  min-height: 400px;
  min-width: 400px;
}

#forms {
  position: absolute;

  left: 50%;
  transform: translate(-50%);
}

#forms mat-form-field {
  width: 15vw;
  min-width: 300px;
}
#forms mat-form-field input {
  min-height: 30px;
  user-select: text;
}
#forms mat-form-field input::selection {
  background-color: var(--secondaryHighlight);
}
#forms mat-form-field button {
  margin-top: 13px;
}
#forms mat-form-field mat-icon {
  vertical-align: middle;
  color: var(--tertiary);
}

h1 {
  color: var(--secondary);
  font-size: 2em;
  font-family: var(--primaryFont);
  user-select: none;
}

/*//input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary);
}

/*//mat-input focused color*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--secondary) !important;
}

/*// mat-input error outline color*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red !important;
  opacity: 0.8!important;
}

/*!/ mat-input carent color*!*/
::ng-deep .mat-input-element {
  caret-color: var(--secondary) !important;
  color: var(--tertiary) !important;
}

/*!/ mat-input error carent color*!*/
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red !important;
}

/*!/ mat-label normal state style*!*/
::ng-deep .mat-form-field-label {
  color: var(--tertiary) !important;
  opacity: 1;
  transition-property: all;
  transition-duration: 300ms;
}

/*!/ mat-label error style*!*/
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}

#forgotPassForm > button:first-child {
  position: absolute;
  top: 5px;
  left: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0;

  min-width: 40px;
  height: 40px;

  color: var(--secondary);
  background-color: var(--primary);
  border: 0;
  border-radius: 25px;

  cursor: pointer;

  transition: background-color 300ms;
}

#forgotPassForm > button {
  color: var(--secondary);
  background: transparent;
  border: 1px solid var(--secondary);
  border-radius: 25px;
  font-size: 1.1rem;
  font-family: var(--secondaryFont);

  min-width: 150px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  transform: translate(-50%);

  user-select: none;
  padding: 0;
  caret-color: var(--primary);

  transition-property: all;
  transition-duration: 500ms;
}
#forgotPassForm > button:hover,
#forgotPassForm > button:focus {
  background: var(--secondaryHover);
}

a {
  color: var(--secondary);
  user-select: none;
  position: absolute;
  right: 0;
  bottom: 0;

  outline: none;
  text-decoration: none;
  font-family: var(--secondaryFont);
}
a:hover,
a:focus {
  caret-color: transparent;
  cursor: pointer;
  text-decoration: underline var(--secondary);
}
