h1 {
  color: var(--secondary);
  user-select: none;
  font-family: var(--primaryFont);
}
mat-divider {
  display: block;
  margin: 0;
  border-right: 1px solid var(--secondaryRipple)
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#selectRec {
  display: flex;
}
#selectRec mat-form-field {
  width: 30vw;
}
#selectRec button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0;

  min-width: 40px;
  height: 40px;

  color: var(--secondary);
  background-color: var(--primary);
  border: 0;
  border-radius: 25px;

  cursor: pointer;

  transform: translateY(38%);
  transition: background-color 300ms;
}
#selectRec button:hover {
  background-color: var(--secondaryHover);
}
#selectRec button .mat-icon {
  color: var(--secondary);

  transition: transform 500ms;
}
#selectRec button:hover .mat-icon {
  transform: rotate(360deg);
}

#liveData {
  width: 40vw;
  display: flex;
  flex-direction: column;

  color: var(--secondary);
  border-radius: 10px;
  border: 1px solid var(--secondary);
}
#liveDate {
  display: flex;
  align-self: flex-end;
}
#liveDate > p {
  padding: 0;
  margin: 5px 5px 0 0;

  color: var(--tertiary);
  font-family: var(--secondaryFont);
  font-size: calc(5px + .6vw);
}
#monitorData {
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 95vw;

  text-align: center;
}
#lineChartContainer {
  position: relative;
  margin-left: 1vw;
  padding-right: 10px;
  padding-left: 10px;

  height: 70vh;
  width: 64vw;

  border: 1px var(--secondary) solid;
  border-radius: 10px;
}

.dataGroup {
  display: flex;
  margin-bottom: 10px;
}
.dataGroup div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dataGroup div svg {
  width: calc(5px + 1.6vw);
  min-width: calc(5px + 1.6vw);
  margin-left: 5px;

  fill: var(--secondary);
}
.dataGroup div span {
  font-size: calc(5px + 1.6vw);
  font-family: var(--secondaryFont);
}
.dataGroup div span:last-child {
  font-size: calc(5px + .8vw);
}
.dataGroup div div {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  #selectRec mat-form-field {
    width: 60vw;
  }

  #liveData {
    width: 80vw;
  }
  #liveDate > p {
    font-size: calc(5px + 1.8vw);
  }
  #monitorData {
    flex-direction: column;
  }
  #lineChartContainer {
    width: 90vw !important;
    height: 45vh !important;
    margin-left: 0;
    margin-top: 10px;
    padding-right: 0;
  }

  .dataGroup div svg {
    width: calc(5px + 3.6vw);
    min-width: calc(5px + 3.6vw);
  }
  .dataGroup div span {
    font-size: calc(5px + 3.6vw);
  }
  .dataGroup div span:last-child {
    font-size: calc(5px + 1.8vw);
  }
}

::ng-deep .mat-form-field-label {
  color: var(--tertiary) !important;
  opacity: 1;
  transition-property: all;
  transition-duration: 300ms;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary);
}
::ng-deep .mat-form-field-underline {
  background-color: var(--secondary) !important;
  opacity: .7;
}
::ng-deep .mat-form-field-ripple {
  background-color: var(--secondary) !important;
  opacity: 1;
}
::ng-deep .mat-select-arrow {
  color: var(--tertiary) !important;
}
:host ::ng-deep .mat-select-value-text {
  color: var(--tertiary) !important;
}
::ng-deep .mat-select-panel {
  background-color: var(--secondary) !important;
}
::ng-deep .mat-option {
  color: var(--primary) !important;
}
::ng-deep .mat-option.mat-selected {
  filter: brightness(85%);
}
