#content {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%);

  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 20px;

  width: 15vw;
  height: 20vh;
  min-height: 150px;
  min-width: 200px;
}

h1 {
  color: var(--secondary);
  user-select: none;
  font-family: var(--primaryFont);
}
p {
  color: var(--tertiary);
}
span {
  color: var(--secondary);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
span:hover {
  text-decoration-color: var(--secondary);
  text-decoration: underline;
}
