* {
  user-select: none;
}
h1 {
  color: var(--secondary);
  font-family: var(--primaryFont);
}
p {
  color: var(--tertiary);
  font-family: var(--secondaryFont);
  font-size: 1.1rem;
}
span {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
  user-select: text;
}
span::selection {
  background-color: var(--tertiaryHighlight);
}
span:hover {
  text-decoration-color: var(--secondary);
  text-decoration: underline;
}

#content {
  padding: 20px;

  width: 15vw;

  border: 1px solid var(--secondary);
  border-radius: 10px;

  text-align: center;
}
