ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  --animationDuration: 500ms;
}

ul li {
  list-style: none;
}
ul li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;

  outline: none;
}
ul li a span {
  position: absolute;
  transition: transform var(--animationDuration);
}
ul li a span:nth-child(1),
ul li a span:nth-child(3) {
  width: 100%;
  height: 2px;
  background: var(--primary);
}
ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--animationDuration);
}


ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--animationDuration);
}


ul li a span:nth-child(2),
ul li a span:nth-child(4) {
  width: 2px;
  height: 100%;
  background: var(--primary);
}
ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform var(--animationDuration);
}

ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform var(--animationDuration);
}

/*
  Classes for custom animation
*/
.one, .two, .three, .four {
  transition: transform var(--animationDuration);
}

.one {
  transform: scaleX(0);
  transform-origin: left;
}
.two {
  transform: scaleY(1);
  transform-origin: top;
}
.three {
  transform: scaleX(0);
  transform-origin: right;
}
.four {
  transform: scaleY(1);
  transform-origin: bottom;
}
