::ng-deep .mat-tab-label {
  background-color: transparent;
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: var(--secondary);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
}
